In [2]:
# 2.7 Loading an Avro File
import pandas as pd
import requests
import pandavro as pdx
url = 'https://machine-learning-python-cookbook.s3.amazonaws.com/data.avro'

# download file
r = requests.get(url)
open('data.avro', 'wb').write(r.content)

# load data
dataframe = pdx.read_avro('data.avro')

dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:00         0
1        5  2015-01-01 00:00:01         0

In [18]:
# 2.8 Querying a SQLite Database

from sqlalchemy import create_engine
# create a connection to the database 
database_connection = create_engine('sqlite:///Car_Database.db')

df.to_sql('data', con=database_connection, index=False, if_exists='replace')

dataframe = pd.read_sql_query('SELECT * FROM data' , database_connection)

dataframe.head(2)

   name  age
0   Ali   28
1  Sara   32

In [26]:
# 2.9 Querying a Remote SQL Database
import pymysql

# create a db connection
# ?????????????????????
# conn = pymysql.connect(
#     host='',
#     user ='root',
#     password="",
#     db='db',
# )

# dataframe = pd.read_sql("select * from data" , conn)
# dataframe.head(2)

In [27]:
# 2.10 Loading Data from a Google Sheet
url = "https://docs.google.com/spreadsheets/d/"\
"1ehC-9otcAuitqnmWksqt1mOrTRCL38dv0K9UjhwzTOA/export?format=csv"

dataframe = pd.read_csv(url)
dataframe.head(2)

   integer            datetime  category
0        5  2015-01-01 0:00:00         0
1        5  2015-01-01 0:00:01         0

In [36]:
# 2.11 Loading Data from an S3 Bucket
s3_uri = "s3://machine-learning-python-cookbook/data.csv"

# Set AWS credentials 
ACCESS_KEY_ID = "xxxxx"
SECRET_ACCESS_KEY = "xxxxxx"

dataframe = pd.read_csv(s3_uri,storage_options={
        "key": ACCESS_KEY_ID,
        "secret": SECRET_ACCESS_KEY,
})

dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:00         0
1        5  2015-01-01 00:00:01         0

In [29]:
# 2.12 Loading Unstructured Data ( like text or image)

import requests
# download a text file
txt_url =  "https://machine-learning-python-cookbook.s3.amazonaws.com/text.txt"

#get the text file
r = requests.get(txt_url)

# write it to a locally text file named text.txt
with open('text.txt','wb') as f:
    f.write(r.content)

# read in the file
with open('text.txt', 'r') as f:
    text = f.read()

print(text)

Hello there!